{{#extends 'base'}}
{{#block 'content'}}
<h1>Add New Country</h1>
{{!-- add form & form method --}}
<form method="post" class="form">
    <div>
    {{!-- need name for input to show when posted --}}
    <input type="text" name="country" class="form-control">
    </div>
    {{!-- add submit type button with text create gray color and margin-top of value 3 --}}
    <input type="submit" value="Create" class="btn btn-secondary mt-3"/>
</form>
{{/block}}
{{/extends}}