{{# extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div class="alert alert-danger">
    Are you sure you want to delete {{country.country}}?
        <div>
            <input type="submit" value="Yes" class="btn btn-danger"/>
            <a href="/" class="btn btn-success">No</a>
        </div>

    </div>
</form>
{{/block}}

{{/extends}}